/* Estilos generales */
body {
    background: rgba(0, 0, 0, 0) url("fondo.jpg");
    font-family: 'Indie Flower', cursive;
    color: white;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}


body.loaded {
    opacity: 9;
}

/* Estilos para el botón del menú */
.menu-btn {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 999;
}

.inicio .menu-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 999;
}


.btn-line {
    width: 25px;
    height: 3px;
    background-color: #ffffff94;
    margin: 3px 0;
    transition: all 0.3s ease;
}

/* Estilos para el menú lateral */
.menu {
    width: 200px;
    height: 100%;
    background-color: #000000;
    position: fixed;
    top: 0;
    left: -200px;
    transition: left 0.3s ease; /* Modificado */
    z-index: 998;
}

body.menu-open .menu {
    left: 0;
}


.menu ul {
    list-style: none;
    padding: 0;
}

.menu ul li {
    margin-bottom: 10px;
}

.menu ul li a {
    text-decoration: none;
    color: #ffffff36;
    display: block;
    padding: 50px;
}

.menu ul li a:hover {
    color: blueviolet;
}



.menu a.current {
    color: blueviolet; /* Cambia al color que desees */
}


/* Estilos para mostrar el menú */
.show-menu {
    left: 0;
}


/* Estilos para la sección de inicio */
.inicio {
    text-align: center;
}

/* Estilos para el contenedor de imágenes */
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    max-height: 400px;
    margin: 0 auto;
    box-shadow: 5px 5px 10px rgb(137 173 181);
    border: 10px dotted #000000;
    transition: transform 0.3s ease-in-out;
    position: relative;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
}

/* Superposición en imágenes */
.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-overlay h3 {
    color: white;
    font-size: 24px;
}



/* Estilos para los títulos con animación de entrada */
h2 {
    font-size: 3em;
    color: blueviolet;
    transform: scale(0);
    transition: transform 1s ease-in-out, color 0.3s ease-in-out;
}

h2.loaded {
    transform: scale(1);
}

h2:hover {
    color: #bddb45;
}

/* Estilos para los párrafos */
p {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 1em;
    transition: font-size 0.3s ease-in-out, margin 0.3s ease-in-out;
    margin: 10px 0;
}

p:hover {
    font-size: 1.1em;
    margin: 12px 0;
}

/* Separadores decorativos */
.separador {
    border-top: 2px solid #61c1e7;
    margin: 20px 0;
}

/* Estilos de lista personalizados */
.lista-custom {
    list-style: none;
    /* Otros estilos */
}

/* Estilos para enlaces */
.enlace {
    color: #ff0606;
    transition: color 0.3s ease-in-out;
}

.enlace:hover {
    color: #6e4646;
}

